.goal-card {
  --img-size: 35px;
  min-width: calc(var(--card-width) - 10px);
  max-width: var(--card-width);
  min-height: var(--card-height);
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s ease-in-out;
  margin-right: 30px;
  background-color: rgb(var(--color-white));
}

.goal-card:hover {
  box-shadow: 0 0 5px 2px rgb(var(--color-black));
}

.goal-card__money-quantity {
  font-family: var(--app-font-lato);
  font-size: 24px;
  font-weight: 600;
  color: rgb(var(--color-gray-light-2));
}

.goal-card__date {
  font-family: var(--app-font-suprema);
  font-weight: 400;
  font-size: 14px;
  color: rgb(var(--color-gray-light));
}

.goal-card__img {
  width: var(--img-size);
  height: var(--img-size);
  margin-top: var(--img-size);
}

.goal-card__link {
  text-decoration: none;
  color: rgb(var(--color-black));
  font-family: var(--app-font-suprema);
  font-weight: 400;
  font-size: 20px;
}
