.history-card {
  padding: 25px;
}

.history-card__table {
  --icon-size: 25px;
}

.history-card-table__row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(var(--color-gray-light), 0.2);
  padding: 10px 0;
}

.history-card-table__row-header {
  border: none;
}

.history-card-table__row-header .history-card-table-row__reciever {
  padding: 0;
}

.history-card-table-row__reciever,
.history-card-table-row__type,
.history-card-table-row__date,
.history-card-table-row__amount {
  margin: 5px 0;
  text-transform: capitalize;
  font-family: var(--app-font-suprema);
  font-weight: 400;
  font-size: 14px;
  color: rgb(var(--color-gray-light));
}

.history-card-table-row__reciever {
  display: flex;
  align-items: center;
  width: 40%;
  color: rgb(var(--color-black));
}

.history-card-table-row-reciever__icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin: 0 10px 0 0;
}

.history-card-table-row__type {
  width: 20%;
}

.history-card-table-row__date {
  width: 25%;
}

.history-card-table-row__amount {
  width: 15%;
  font-family: var(--app-font-lato);
  font-weight: 700;
  font-size: 14px;
  color: rgb(var(--color-black));
  text-align: end;
}

.history-card-table-row__reciever-header,
.history-card-table-row__type-header,
.history-card-table-row__date-header,
.history-card-table-row__amount-header {
  font-weight: 400;
  color: rgb(var(--color-gray-light));
  padding: 0;
}
