.outcome-section {
  margin-top: 50px;
}

.outcome-section__title {
  margin: 0 0 20px 0;
}

.outcome-section-content__item {
  display: flex;
  margin-bottom: 25px;
}

.outcome-section-content-item__icon {
  --icon-size: 44px;
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outcome-section-content-item__icon--orange {
  background-color: rgb(255, 234, 218);
}
.outcome-section-content-item__icon--green {
  background-color: rgb(221, 249, 228);
}
.outcome-section-content-item__icon--blue {
  background-color: rgb(228, 240, 255);
}

.outcome-section-content-item-icon__image {
  --size: 20px;
  width: var(--size);
  height: var(--size);
}

.outcome-section-content__item-wrapper {
  width: 100%;
}

.outcome-section-content-item__progress {
  display: flex;
}

.outcome-section-content-item-progress__body,
.outcome-section-content-item-progress-body__item {
  border-radius: 50px;
  height: 15px;
}

.outcome-section-content-item-progress__body {
  width: 100%;
  margin: 0 15px;
  background-color: rgb(var(--color-gray), 0.3);
}

.outcome-section-content-item-progress-body__item {
  width: var(--progres-status);
}

.outcome-section-content-item-progress-body__item--orange {
  --progres: 52%;
  background-color: rgb(var(--color-orange));
}

.outcome-section-content-item-progress-body__item--green {
  --progres: 21%;
  background-color: rgb(var(--color-green));
}

.outcome-section-content-item-progress-body__item--blue {
  --progres: 74%;
  background-color: rgb(var(--color-blue-light));
}

.outcome-section-content-item-progress__number {
  font-family: var(--app-font-lato);
  font-weight: 600;
  font-size: 24;
  color: rgb(var(--color-black));
}

.outcome-section-content-item__title {
  font-family: var(--app-font-suprema);
  font-weight: 400;
  font-size: 14px;
  color: rgb(var(--color-gray-light));
  margin: 0 15px;
}
