.app-main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin-left: var(--app-navbar-width);
}

@media (max-width: 720px) {
  .app-main-wrapper {
    margin: 0;
  }
}
