.app-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-content__column-main {
  width: 50%;
  padding: 0 20px 0 40px;
}

.app-content__column-secondary {
  width: 50%;
  padding: 0 40px 0 20px;
}

@media (max-width: 1000px) {
  .app-content__column-main,
  .app-content__column-secondary {
    padding: 0 15px;
  }
}

@media (max-width: 1500px) {
  .app-content {
    flex-direction: column;
    width: calc(100vw - var(--app-navbar-width));
  }
  .app-content__column-main,
  .app-content__column-secondary {
    width: 100%;
  }
}
