.app-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

.app-content__column {
  width: 50%;
  padding: 0 25px 0 25px;
}

@media (max-width: 1000px) {
  .app-content__column-main,
  .app-content__column-secondary {
    padding: 0 15px;
  }
}

@media (max-width: 1500px) {
  .app-content {
    flex-direction: column;
    width: 100%;
  }
  .app-content__column {
    width: 100%;
  }
}
